In [2]:
l = [1,2,23,5]
print(l)

[1, 2, 23, 5]

In [3]:
lst = [i for i in range (4)]
print(lst)

[0, 1, 2, 3]

In [ ]:
a = int(input('give the number')

***list methods***
append
reverse
sort
Method,Action,"Example Output (on [1, 2])"
append(3),Adds 3 to end,"[1, 2, 3]"
"extend([3, 4])",Adds 3 and 4 to end,"[1, 2, 3, 4]"
pop(),Removes/Returns last item,"Returns 2, list becomes [1]"
reverse(),Reverses order,"[2, 1]"

In [1]:
l = [11,23,53,10,6,34,3,7,12,55.8,55.9]
print(l)

[11, 23, 53, 10, 6, 34, 3, 7, 12, 55.8, 55.9]

In [5]:
l = [11,23,53,10,6,34,3,7,12,55.8,55.9]
l.sort()
print(l)

[3, 6, 7, 10, 11, 12, 23, 34, 53, 55.8, 55.9]

In [11]:
l = [11,23,53,10,6,34,3,7,12,55.8,55.9]
l.append(4)
print(l)

[11, 23, 53, 10, 6, 34, 3, 7, 12, 55.8, 55.9, 4]

In [15]:
m = ["a", 12.4, 43,23,56,785,123,'k']
m.insert(0, 112)
print(m)

[112, 'a', 12.4, 43, 23, 56, 785, 123, 'k']

In [16]:
m = ["a", 12.4, 43,23,56,785,123,'k']
n = m.copy()
print(n)

['a', 12.4, 43, 23, 56, 785, 123, 'k']

now there is another way to use this copy function i.e. 
    assigning the value directly into the 
new variable, but if you will change the list values then 
what the original list will also change.

In [18]:
j = [12,23,42,87,456,90,212]
s = j #here the value has been assigned in new variable
j.append(11)
print(j, s)

[12, 23, 42, 87, 456, 90, 212, 11] [12, 23, 42, 87, 456, 90, 212, 11]

now as you can see above changing j changes the s also even the j has been assigned to the value of s
hence we use copy function which will copy this list and the original list will remain intact.

In [20]:
j = [12,23,42,87,456,90,212]
j.extend(m)
print(j)

[12, 23, 42, 87, 456, 90, 212, 'a', 12.4, 43, 23, 56, 785, 123, 'k']

In [ ]:
here  the values of list j has been kept behind the list m

In [21]:
h =[12,54,56,78,3,2,6,7,89,9]
k = [12,13,21]
v = k+h
print(v)

[12, 13, 21, 12, 54, 56, 78, 3, 2, 6, 7, 89, 9]

In [ ]:
in this add method two lists has been concatenated.

In [6]:
k = [[2,[35,87]],4,"hello"]
k[1] = 5
print(k)
k[0][1][1]

[[2, [35, 87]], 5, 'hello']

87

In [ ]:
k