In [ ]:
#for and while loop

In [ ]:
# for loop

In [2]:
for k in range(5):
    print(k+1)

1
2
3
4
5

In [7]:
for h in range(6):
   sum = h
print(h)

5

In [13]:
total = 0 
for t in range(100):
    total += t
print(total)

4950

In [14]:
#  there is difference in print(total) in indented and without indented if written within indentation then output
# will be different

In [ ]:
total = 0 
for t in range(100):
    total += t
    print(total)

#with indentation the output will be different

In [ ]:
# Print Even Numbers:
# Use a for loop to print all even numbers between 1 and 20 (inclusive).

In [24]:
# n = 0 
# for t in range(21):
#  if is_divisible(n, 2):
#  else: 0
# print(n)

#need to work on this code

In [23]:
# Start a loop that counts from 2, up to 20, by steps of 2
for num in range(2, 21, 2):
    # Print the current number
    print(num)

2
4
6
8
10
12
14
16
18
20

In [2]:
# Smallest Number in a List
n = input("give us three numbers:")
z = n.split()
k = list(map(int, z))
l = min(k)
print(l)

give us three numbers: 12 32 45

12

In [ ]:
# 1. Take input from the user for three numbers on a single line.
#    The numbers are expected to be separated by spaces.
user_input_string = input("Enter three numbers, separated by spaces (e.g., 10 5 8): ")

# 2. Split the input string into a list of strings.
#    For example, "10 5 8" becomes ['10', '5', '8'].
numbers_as_strings = user_input_string.split()

# 3. Convert each string in the list to an integer.
#    map(int, ...) applies the int() function to every item in numbers_as_strings.
#    list(...) converts the map object into a proper list of integers.
#    So, ['10', '5', '8'] becomes [10, 5, 8].
numbers_as_integers = list(map(int, numbers_as_strings))

# 4. Find the smallest number in the list using the built-in min() function.
#    min() takes a list of numbers and returns the smallest one.
smallest_number = min(numbers_as_integers)

# 5. Print the original numbers entered and the smallest number found.
print(f"The numbers you entered are: {numbers_as_integers}")
print(f"The smallest number is: {smallest_number}")